{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="col-md-9">
        <form action={% url "edit" %} method="post">
            <div class="form-group">
            {% csrf_token %}
                <label for="original">Name</label>
                <input type="text" class="form-control" id="name" value={{name}} name="name" />
                <br>
                <label for="original">URL</label>
                <input type="text" class="form-control" id="url" value={{url}} name="url" />
                <br>
                <label for="original">Label</label>
                <select name="label" class="form-control">
                {% for item in label_list %}
                    <option value={{item.name}}>{{ item.name }}</option>
                {% endfor %}
                </select>
                <br>
                <label for="original">Notes</label>
                <input type="text" class="form-control" id="notes" name="notes" value={{notes}} />
                <input type="hidden" class="form-control" name="unique_id" value={{id}} />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Edit Bookmark</button>
        </form>
    </div>
</div>
{% endblock %}