{% extends "base.html" %} {% block content %} {% load extras %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p></p>
            <hr>
            <b>Labels</b>
            <br><br>
            {% for item in labels_list %}
            <a href={% url 'index' %}?label={{ item.name }} class="btn btn-success">{{ item.name }}</a>
            &nbsp;
            {% endfor %}
            <hr>
            <a href={% url 'add' %} class="btn btn-warning">Add Bookmark</a>
            <a href={% url 'create_label' %} class="btn btn-warning">Add Label</a>
            <hr>
            <a href={% url 'manage_label' %} class="btn btn-info">Manage Labels</a>
            <hr>
        </div>
        <div class="col-md-9">
            {% if label_name %}
            <b>Bookmarks for Label {{ label_name }}</b>
            {% else %}
            <b>All Bookmarks</b>
            {% endif %}
            <br><br> {% for item in bookmark_list %}
            <a href={{item.url}}> {{ item.name }} </a>[{{item.label}}] |
            <a href={% url 'delete' %}/?id={{item.unique_id}}&thing=bookmark>delete</a>-
            <a href={% url "add" %}/?id={{item.unique_id}}>edit</a>
            <br> {{ item.notes }}
            <hr> {% endfor %}
        </div>
    </div>
</div>
{% endblock %}